@font-face {
    font-family: "PT Sans";
    src: url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}
body {
    margin: 0;
}
p, a, h3, input, button, summary {
    font-family: "PT Sans", sans-serif;
    line-height: 22px;
}
h1 {
    line-height: 45px;
}
summary {
    color: #FFF;
}
.logo-image {
    height: 110px;
    margin-bottom: 20px
}
.logo-text {
    margin-left: 25px;
}
.logo-text-primary {
    font-size: 72px;
    font-weight: bolder;
    line-height: 75px;
    margin-top: -15px;
}
.logo-text-secondary {
    font-size: 24px;
    font-style: italic;
    font-weight: bolder;
    line-height: 0;
    margin: 0;
}
.phonenumber {
    font-size: 24px;
    font-style: italic;
    text-align: right;
}
.slider-image {
    min-width: 100%;
    height: 200px;
    object-fit: cover;
}
.filters-container {
    flex: 1;
}
.filters {
    border-radius: 7px;
    padding: 12px 15px 15px 15px;

    background-color: #2B6EBC;
}
.filters-list {
    margin: 18px 10px;
}
.filters-list summary {
    font-size: 18px;
}
.filters-list details {
    margin-bottom: 8px;
}
.search-input {
    width: 100%;
    height: 50px;
    font-size: 22px;
}
.search-submit {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.contacts-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
}
.contacts-title {
    color: #2B6EBC;

    font-size: 42px;
}
.contacts-phone-number-title, .contacts-email-title, .contacts-office-title {
    font-size: 28px;
}
.contacts-phone-number-list, .contacts-email-list {
    display: flex;
    flex-direction: column;
}
.contacts-phone-number, .contacts-email, .contacts-office {
    line-height: 0;
    font-style: italic;
    font-size: 20px;
}
.filters-submit {
    font-size: 20px;
    color: #2B6EBC;

    border: none;

    width: 100%;

    margin-top: 10px;
    padding: 10px;

    background-color: #FFF;
}
.filters-submit:hover {
    background-color: #EDEDED;
}
.filter-type-checkbox, .filter-brand-checkbox, .filter-country-checkbox {
    margin: 0 16px;

    display: flex;
    flex-direction: row;
}
.filters-type-list, .filters-brand-list, .filters-country-list {
    margin-top: 10px;
}
.filter-text {
    color: #FFF;
    font-size: 16px;

    margin: 5px 5px;
}
.filters-title {
    font-size: 25px;
    line-height: 26px;
}
.news-archive {
    text-align: right;
}
.part-image {
    max-width: 100%;
}
.source-logo {
    height: 44px;

    margin-right: -5px;
}