@font-face {
    font-family: "PT Sans";
    src: url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}
body {
    margin: 0;
}
p, a, h1, input, button, summary {
    font-family: "PT Sans", sans-serif;
    line-height: 22px;
}
div, ul {
    margin: 0;
}
summary {
    color: #FFF;
}
.page {
    width: 100%;
    min-height: 100vh;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    flex: 1;

    max-height: 120px;

    display: flex;
    flex-direction: row;

    padding: 30px calc((100% - 1320px) / 2);

    background-color: #FFF;
}
.logo-image {
    height: 120px;
}
.logo, .contacts, .phonenumber {
    flex: 1;
}
.logo {
    display: flex;
    flex-direction: row;
}
.logo-text, .contacts {
    display: flex;
    flex-direction: column;
}
.logo-text {
    margin-left: 25px;
}
.logo-text-primary {
    color: #2B6EBC;
    font-size: 72px;
    font-weight: bolder;
    line-height: 100px;

    margin: 0;

    flex: 3;
}
.logo-text-secondary {
    color: #2B6EBC;
    font-size: 24px;
    font-style: italic;
    font-weight: bolder;
    line-height: 0;

    margin: 0;

    flex: 2;
}
.contacts {
    padding: 24px 0;
}
.phonenumber {
    color: #2B6EBC;
    font-size: 28px;
    font-style: italic;
    text-align: right;

    margin: 0;
}

.menu {
    background-color: #2B6EBC;
}
.menu-list {
    padding: 0;

    list-style-type: none;

    display: flex;
    justify-content: center;
}
.menu-button {
    height: 60px;
}
.menu-link {
    color: #FFF;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    text-decoration: none;

    padding: 0 36px;

    display: table-cell;
    vertical-align: middle;

    height: inherit;
}
.menu-button:hover, .search-submit:hover {
    background-color: #1f5ba1;
}

.slider {
    width: 100%;

    display: flex;
    justify-content: center;
}
.slider-image {
    min-width: calc(100% / 2);
    height: 200px;

    object-fit: cover;
}
.slider-image:last-child {
    transform: scaleX(-1);
}

.content {
    margin: 20px calc((100% - 1320px) / 2) 200px calc((100% - 1320px) / 2);

    display: flex;
    flex-direction: row;
}
.news-container {
    flex: 2;

    padding: 20px 40px 0 20px;

    background-color: #2B6EBC;
}
.filters-container {
    flex: 1;
}
.filters {
    padding: 12px 15px 15px 15px;

    background-color: #2B6EBC;
}
.filters-list {
    margin: 18px 10px;
}
.filters-list summary {
    font-size: 18px;
}
.filters-list details {
    margin-bottom: 8px;
}
.news-list {
    list-style-type: none;

    padding: 0;
    margin: 20px 0;
}
.search-container {
    display: flex;
    flex-direction: row;
}
.search-input {
    flex: 1;
    padding: 8px;
    font-size: 24px;
    margin-right: 20px;
}
.search-submit {
    font-size: 22px;
    color: #FFF;

    border: none;

    background-color: #2B6EBC;

    width: 100px;
}
.filters-submit {
    font-size: 20px;
    color: #2B6EBC;

    border: none;

    width: 100%;

    margin-top: 10px;
    padding: 10px;

    background-color: #FFF;
}
.filters-submit:hover {
    background-color: #EDEDED;
}
.filter-type-checkbox, .filter-brand-checkbox, .filter-country-checkbox {
    margin: 0 16px;

    display: flex;
    flex-direction: row;
}
.filters-type-list, .filters-brand-list, .filters-country-list {
    margin-top: 10px;
}
.filter-text {
    color: #FFF;
    font-size: 16px;

    margin: 5px 5px;
}
.news-title, .news-date, .news-text, .news-archive-link, .filters-title {
    color: #FFF;
    margin: 0;
}
.filters-title {
    font-size: 25px;
    line-height: 26px;
}
.news-date {
    font-style: italic;
}
.news-archive {
    text-align: right;
    text-decoration: underline;
    margin: 40px 0 10px 0;
}
.news-item {
    margin-bottom: 20px;
}
.article-container {
    margin-left: 40px;

    flex: 5;
}
.parts-container {
    margin-left: 20px;

    flex: 4;
}
.parts-table {
    display: flex;
    flex-direction: column;
}
.part-fields, .part-info {
    display: flex;
    flex-direction: row;
}
.part-info {
    border: 2px solid #2B6EBC;
    color: #2B6EBC;

    font-size: 20px;
    font-style: italic;
    font-weight: bolder;

    margin-bottom: 10px;
}
.part-info div:nth-child(even) {
    background-color: #2B6EBC;
    color: #FFF;
}
.part-fields {
    color: #2B6EBC;

    font-size: 20px;
    font-weight: bolder;
}
.part-info div, .part-fields div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 10px;
}
.part-fields p {
    line-height: 0;
}
.part-image {
    flex: 2;
}
.part-article, .part-brand {
    flex: 4;
}
.part-price {
    flex: 3;
}
.part-title {
    flex: 10;
}
.part-image img {
    width: 100%;
    object-fit: cover;
}
.page-buttons-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;

    margin: 20px 0;
}
.page-button-container {
    margin: 6px;
    padding: 10px 0;

    background-color: #2B6EBC;
}
.page-button-container:hover {
    background-color: #1f5ba1;
}
.page-button-separator-container {
    margin: 6px;
}
.page-button {
    text-decoration: none;
    color: #FFF;

    padding: 0 16px;
}
.page-button-separator {
    text-decoration: none;
    color: #2B6EBC;

    margin: 20px 0 10px 0;
    padding: 0 8px;
}
.article-title {
    color: #2B6EBC;
}

.footer {
    flex: 1;
    max-height: 110px;

    display: flex;
    flex-direction: row;

    padding: 50px calc((100% - 1320px) / 2);

    background-color: #2B6EBC;
}
.owner {
    flex: 1;
}
.navigation {
    flex: 1;
}
.navigation-list {
    list-style-type: none;
}
.creator {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: right;
}
.source-logo {
    height: 44px;

    margin-right: -5px;
}
.footer a, .footer p {
    margin: 0;

    color: #FFF;
}
.email {
    font-style: italic;
}
h1 {
    line-height: 30px;
}

@media (max-width: 1320px) {
    .header, .menu, .slider, .content, .footer {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .news-container, .filters-container {
        margin-left: 10px;
    }
    .parts-container {
        margin: 0 10px;
    }
    .owner, .navigation {
        text-align: center;
    }
    .creator {
        justify-content: center;
    }
}

@media (max-width: 1080px) {
    .header {
        padding: 10px 0 0 0;
        justify-content: center;
        flex-direction: column;
        max-height: 186px;
    }
    .logo {
        justify-content: center;
    }
    .contacts {
        flex-direction: row;
        padding: 12px 0;
    }
    .filters-container {
        flex: 2;
    }
    .part-fields {
        font-size: 16px;
    }
    .part-info {
        font-size: 16px;
    }
    .part-info div {
        padding: 5px;
    }
    .phonenumber {
        text-align: center;
        margin: 10px auto;
    }
    .menu-list {
        justify-content: space-around;
    }
    .menu-link {
        padding: 0;
    }
    .news-container {
        padding: 14px 20px 0 14px;
    }
    .article-container {
        margin-left: 14px;
    }
}
@media (max-width: 720px) {
    .header {
        max-height: 208px;
    }
    .logo-image {
        height: 100px;
    }
    .logo-text {
        margin-left: 10px;
    }
    .logo-text-primary {
        font-size: 56px;
        line-height: 76px;
    }
    .contacts {
        flex-direction: column;
    }
    .content {
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .filters-container {
        margin: 10px;
    }
    .parts-container {
        margin: 10px;
    }
    .part-fields {
        font-size: 14px;
    }
    .part-info {
        font-size: 12px;
    }
    #catalog {
        flex-direction: column;
    }
    .news-container {
        margin: 10px;
    }
    .article-container {
        margin-bottom: 10px;
    }
    .footer {
        max-height: 220px;
        flex-direction: column;
        justify-content: center;
    }
    .owner, .navigation {
        text-align: center;
    }
    .navigation-list {
        padding: 0;
        margin: 30px 0;
    }
    .creator {
        justify-content: center;
    }
}