body {
    margin: 0;
}
p {
    font-family: "PT Sans", sans-serif;
    line-height: 22px;
}
div, ul {
    margin: 0;
}
.page {
    width: 1320px;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: row;

    height: 150px;

    padding: 30px 0;

    background-color: #FFF;
}
.logo, .contacts, .spacer, .phonenumber {
    flex: 1;
}
.logo {
    display: flex;
    flex-direction: row;
}
.logo-text, .contacts {
    display: flex;
    flex-direction: column;
}
.logo-text {
    margin-left: 25px;
}
.logo-text-primary {
    color: #2B6EBC;
    font-size: 72px;
    font-weight: bolder;
    line-height: 100px;

    margin: 0;

    flex: 3;
}
.logo-text-secondary {
    color: #2B6EBC;
    font-size: 24px;
    font-style: italic;
    font-weight: bolder;
    line-height: 0;

    margin: 0;

    flex: 2;
}
.contacts {
    padding: 30px 0;
}
.phonenumber {
    color: #2B6EBC;
    font-size: 32px;
    font-style: italic;
    text-align: right;

    margin: 0;
}

.menu {
    width: 100vw;
    margin: 0 calc((1320px - 100vw) / 2);
    background-color: #2B6EBC;
}
.menu-list {
    list-style-type: none;

    display: flex;
    justify-content: center;
}
.menu-button {
    height: 60px;
}
.menu-link {
    color: #FFF;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    text-decoration: none;

    padding: 0 36px;

    display: table-cell;
    vertical-align: middle;

    height: inherit;
}
.menu-button:hover {
    background-color: #1f5ba1;
}

.slider {
    display: flex;
    justify-content: center;
}
.slider-image {
    width: 1320px;
    height: 200px;

    object-fit: cover;
}