@font-face {
    font-family: "PT Sans";
    src: url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}
body {
    margin: 0;
}
p, a, h1 {
    font-family: "PT Sans", sans-serif;
    line-height: 22px;
}
div, ul {
    margin: 0;
}
.page {
    width: 100%;
    min-height: 100vh;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    flex: 1;

    max-height: 120px;

    display: flex;
    flex-direction: row;

    padding: 30px calc((100% - 1320px) / 2);

    background-color: #FFF;
}
.logo-image {
    height: 120px;
}
.logo, .contacts, .phonenumber {
    flex: 1;
}
.logo {
    display: flex;
    flex-direction: row;
}
.logo-text, .contacts {
    display: flex;
    flex-direction: column;
}
.logo-text {
    margin-left: 25px;
}
.logo-text-primary {
    color: #2B6EBC;
    font-size: 72px;
    font-weight: bolder;
    line-height: 100px;

    margin: 0;

    flex: 3;
}
.logo-text-secondary {
    color: #2B6EBC;
    font-size: 24px;
    font-style: italic;
    font-weight: bolder;
    line-height: 0;

    margin: 0;

    flex: 2;
}
.contacts {
    padding: 24px 0;
}
.phonenumber {
    color: #2B6EBC;
    font-size: 28px;
    font-style: italic;
    text-align: right;

    margin: 0;
}

.menu {
    background-color: #2B6EBC;
}
.menu-list {
    padding: 0;

    list-style-type: none;

    display: flex;
    justify-content: center;
}
.menu-button {
    height: 60px;
}
.menu-link {
    color: #FFF;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    text-decoration: none;

    padding: 0 36px;

    display: table-cell;
    vertical-align: middle;

    height: inherit;
}
.menu-button:hover {
    background-color: #1f5ba1;
}

.slider {
    width: 100%;

    display: flex;
    justify-content: center;
}
.slider-image {
    min-width: calc(100% / 2);
    height: 200px;

    object-fit: cover;
}
.slider-image:last-child {
    transform: scaleX(-1);
}

.content {
    margin: 20px calc((100% - 1320px) / 2) 200px calc((100% - 1320px) / 2);

    display: flex;
    flex-direction: row;
}
.news-container {
    flex: 2;

    padding: 20px 40px 0 20px;

    background-color: #2B6EBC;
}
.news-list {
    list-style-type: none;

    padding: 0;
    margin: 20px 0;
}
.news-title, .news-date, .news-text, .news-archive-link {
    color: #FFF;
    margin: 0;
}
.news-date {
    font-style: italic;
}
.news-archive {
    text-align: right;
    text-decoration: underline;
    margin: 40px 0 10px 0;
}
.news-item {
    margin-bottom: 20px;
}
.article-container {
    margin-left: 40px;

    flex: 5;
}
.article-title {
    color: #2B6EBC;
}

.footer {
    flex: 1;
    max-height: 110px;

    display: flex;
    flex-direction: row;

    padding: 50px calc((100% - 1320px) / 2);

    background-color: #2B6EBC;
}
.owner {
    flex: 1;
}
.navigation {
    flex: 1;
}
.navigation-list {
    list-style-type: none;
}
.creator {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: right;
}
.source-logo {
    height: 44px;

    margin-right: -5px;
}
.footer a, .footer p {
    margin: 0;

    color: #FFF;
}
.email {
    font-style: italic;
}
h1 {
    line-height: 30px;
}

@media (max-width: 1320px) {
    .header, .menu, .slider, .content, .footer {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .news-container {
        margin-left: 10px;
    }
}

@media (max-width: 1080px) {
    .header {
        padding: 10px 0 0 0;
        justify-content: center;
        flex-direction: column;
    }
    .logo {
        justify-content: center;
    }
    .contacts {
        flex-direction: row;
        padding: 12px 0;
    }
    .phonenumber {
        text-align: center;
        margin: 10px auto;
    }
    .menu-list {
        justify-content: space-around;
    }
    .menu-link {
        padding: 0;
    }
    .news-container {
        padding: 14px 20px 0 14px;
    }
    .article-container {
        margin-left: 14px;
    }
}
@media (max-width: 720px) {
    .logo-image {
        height: 100px;
    }
    .logo-text {
        margin-left: 10px;
    }
    .logo-text-primary {
        font-size: 56px;
        line-height: 76px;
    }
    .contacts {
        flex-direction: column;
    }
    .content {
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .news-container {
        margin: 10px;
    }
    .article-container {
        margin-bottom: 10px;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
    }
    .owner, .navigation {
        text-align: center;
    }
    .navigation-list {
        padding: 0;
        margin: 30px 0;
    }
    .creator {
        justify-content: center;
    }
}